*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}

body{
  height:100%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center; 
}

.shiningBody{
  height:100%;
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center; 
  animation-name: shineBody;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes shineBody{
  0%{
  }
  100%{
    background-color: rgb(97, 4, 97);
  }
}

.stopwatch{
  background-color: rgb(12, 12, 12);
  height: 400px;
  width: 400px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.shiningStopwatch{
  background: linear-gradient(90deg, rgb(255, 128, 24), rgb(24, 255, 243));
  height: 400px;
  width: 400px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  animation-name: shineTimer;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes shineTimer {
  0%{}
  100%{
    transform: scale(1.2);
    box-shadow: 0px 0px 100px blueviolet;
  }
}

h1{
  font-size: 40px;
  color: white;
  transform: translate(0px, 13px);
}

.shiningH1{
  font-size: 40px;
  text-shadow: 0px 0px 20px rgb(229, 12, 236);
  transform: translate(0px, 13px);
  animation-name: shineText;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes shineText{
  0%{
    color: red;
  }
  100%{
    transform: scale(1.3);
    color: blue;
  }
}

p{
  width: 200px;
  padding: 5px 10px;
  font-size: 70px;
  display: flex;
  justify-content: center;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
}

.shiningP{
  background: linear-gradient(90deg, rgb(233, 219, 19), rgb(74, 255, 19));
  box-shadow: 0px 0px 40px orange;
  animation-name: shine;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes shine{
  0%{
    color:rgb(229, 12, 236)
  }
  100%{
    transform: scale(1.2);
    color: rgb(42, 233, 240);
  }
}

.buttons{
  transform: translate(0, -25px);
}

button{
  padding: 5px 8px;
  font-size: 20px;
  background-color: rgb(246, 246, 246);
  border: 1px solid rgb(126, 124, 124);
  border-radius: 10px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(85, 255, 108);
}

.shiningButtons{
  padding: 5px 8px;
  font-size: 20px;
  border: 1px solid rgb(126, 124, 124);
  border-radius: 10px;
  cursor: pointer;
  animation-name: shineButtons;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes shineButtons{
  0%{
    background-color:rgb(231, 47, 255);
  }
  100%{
    background-color: rgb(11, 82, 195);
    color: white;
  }
}