*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #090e25;
}

.box{
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 20px;
  transition: 1s;
}

.box:before{
  content: '';
  position: absolute;
  width: 150px;
  height: 140%;
  animation: animate 4s linear infinite;
}

.one:before{
  background: linear-gradient(#00ccff, #d400d4)
}

.two:before{
  background: linear-gradient(#09ff00, #ff7708)
} 

.three:before{
  background: linear-gradient(#ff0000, #0f1fff)
}

.box::after{
  content: '';
  position: absolute;
  inset: 6px;
  background: #090e25;
  border-radius: 16px;
}

.one:hover{
  background-color: rgb(19, 19, 250);
}

.two:hover{
  background-color: rgb(255, 30, 0);
}

.three:hover{
  background-color: rgb(187, 12, 240);
}


@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(350deg);
  }
}

.box h2{
  font-size: 10em;
  z-index: 10;
  height: 96.5%;
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  transition: 1.3s;
}
.box h2:hover{
  background-color: rgba(255, 255, 255);
  color: black;
}