body{
    background-image: linear-gradient(45deg, black, rgb(2, 5, 44));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
    height: 97vh;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
}

form{
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo{
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 700 1rem "Andada Pro", sans-serif;
}

.espaco{
    padding: 5px;
    font-size: 15px;
    background-color: #020202;
    color: white;
    border: 0.25rem solid #52b644;
    border-radius: 10px;
    transition: 0.3s;
}

.espaco:focus{
    font-size: 20px;
    background-color: #52b644;
    border: 0.5rem solid #FDEFEF;
    font-style: bold;
}

#content{
    height: 4rem;
}

#content:focus{
    height: 5rem;
    width: 25rem;
}

#botao{
    padding: 5px 20px;
    font-size: 16px;
    color: white;
    background-color: black;
    margin-top: 15px;
    border-radius: 20%;
    border: 0.25rem solid #52b644;
    transition: 0.3s;
}

#botao:hover{
    background-color: #52b644;
}