*{
    margin: 0;
    padding: 0;   
}

.fundo{
    height: 100vh;
    background-image: linear-gradient(45deg, black, purple);
}

.calculadora{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);
    border: 7px solid #DBD0C0;
    border-radius: 30px;
}

#tela{
    width: 200px;
    height: 30px;
    padding-right: 7px;

    margin-top: 10px;
    background-color: white;
    border-radius: 10px;

    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.teclado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.botão{
    width: 50px;
    height: 50px;
    margin: 0px;
    color: white;
    border: none;
    background-color: #2c2c2b;
    cursor: pointer;
}


.botão:hover{
    background-color: #56c765;
}